{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/index.css' %}">
    <link rel="stylesheet" href="{% static '/styles/admin.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Patrick+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css" />
    <script src="https://kit.fontawesome.com/8db117ee85.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Book store</title>
</head>

<body>
    <div class="body-index">
        {% block index %}
        {% endblock index %}

        {% block dashboard %}
        {% endblock dashboard %}
        <script src="{% static '/js/index.js' %}"></script>
        <script src="{% static '/js/admin-dashboard.js' %}"></script>
    </div>
</body>