{% extends "base.html" %}
{% load static %}
{% block dashboard %}

<main class="dashboard">
    <nav class="dashboard__sideBar">
        <ul class="ul-sidebar">
            <li><a class="sidebar--logo" href="">LOGO</a></li>
            <li>
                <a href=""><img style="width: 25px; height: 25px;" src="images/user-admin.svg" alt="">
                    <h4 class="sidebar--desc">User admin</h4>
                </a>
            </li>
            <li>
                <a href=""><img style="width: 25px; height: 25px;" src="images/managebook.svg" alt="">
                    <h4 class="sidebar--desc">Manage book</h4>
                </a>
            </li>
        </ul>
    </nav>

    <section class="dashboard__content">
        <header class="dashboard__content--header">
            <h4 class="dashboard__content--title">Manage Book</h4>
        </header>
        <div class="container-table">
            <table class="dashboard__content--bookTable">
                <thead class="dashboard__content--bookTable-header">
                    <tr>
                        <th>Book title</th>
                        <th>Writer</th>
                        <th>Category</th>
                        <th>Price (MAD)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr>
                    <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr> <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr>
                    <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr>
                    <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr>
                    <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr>   <tr>
                        <td>sherlock holmes</td>
                        <td>Arthur</td>
                        <td>Adventure</td>
                        <td>150</td>
                        <td>
                            <input class="btn btn__modify" type="submit" value="modify" />
                            <input class="btn btn__delete" type="submit" value="delete" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

</main>
{% endblock dashboard %}