{% extends "./dashboard_sideBar.html" %}
{% load static %}
{% block header_title %}
    My profile
{% endblock header_title %}
{% block header_btn %}
{% endblock header_btn %}
{% block profile %}
<div class="profile">
    {% if user.user_image.url %}
        <img src="{{ user.user_image.url }}" alt="user image" class="profile__image" >
    {% else %}
        <img src="{% static 'images/profile-picture.svg' %}" alt="user image" class="profile__image" >
    {% endif %}
    <div class="profile__info">
        <h3>User info: </h3>
        <form action="" method="post" enctype="multipart/form-data" class="profile__info--form">
            {% csrf_token %}
    
            <div class="profile__info--inputFields ">
                <input class="profile__info--input" type="text"  name="username" value="{{ user.username }}" placeholder="Username" id="username_id" required disabled>
                <input class="profile__info--input inputField-second" type="email" name="email" value="{{ user.email }}" placeholder="Email" id="email_id" required disabled>
            </div>
    
            <div class="profile__info--inputFields ">
                <input  class="profile__info--input" type="text" name="first_name" value="{{ user.first_name }}" placeholder="first name" id="first_name_id" disabled>
                <input  class="profile__info--input inputField-second" type="text" name="last_name" value="{{ user.last_name }}" placeholder="last name" id="last_name_id" disabled>
            </div>

            <label for="images" class="drop-container imageInput drop-container-profile" id="user_image_id">
                <span class="drop-title">Drop files here</span>
                or
                <input type="file" id="images" accept="image/*" name="user-picture" value={{ user.user_image }}>
            </label>
                
            <input type="submit" class="profile__info--submit" id="submit_profile_id" value="Submit">
            <div class="profile__info--able" id="able-inputs">Edit</div>
        </form>
        <a href="" class="profile__changePassword">change password</a>
    </div>
    <script src="{% static '/js/profile.js' %}"></script>
</div>
{% endblock profile %}